div {
    background-color: rgba(0, 0, 0, 0.7);
}

body {
    color: white;
    font-family: Arial;
    background-image: url("https://i.ibb.co/d2788tv/wallpaper-ikki.jpg");
    margin: 0;
    padding: 0;
};